<div id="quick-view-modal" class="quick-view-modal">
  <div class="modal-content">
    <span class="close-btn" onclick="closeQuickView()">&times;</span>
    <div id="quick-view-content">
      <!-- Dynamic Product Content will be loaded here -->
    </div>
  </div>
</div>