<a href="{{ block.settings.button-url }}" class="button{% if block.settings.button-url != blank %} button-linked{% else %} button-unlinked{% endif %} button-primary">
  {{ block.settings.button-text | camelcase }}
</a>
{% schema %}
  {
    "name": "Button",
    "settings": [
      {
        "type": "text",
        "id": "button-text",
        "label": "Button Text",
        "default":"Button Label"
      },
      {
        "type": "url",
        "id": "button-url",
        "label": "Button Url"
      }
    ],
    "presets": [
      {
        "name": "Button"
      }
    ]
  }
{% endschema %}