<a class="button{% if block.settings.url != blank %} button-linked{% else %} button-unlinked{% endif %}">button label</a>
{% schema %}
  {
    "name": "Button",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Button"
      }
    ]
  }
{% endschema %}