{{ block.settings.description | camelcase }}
{% schema %}
  {
    "name": "Description",
    "settings": [
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default":"<p>Give customers details about the banner image(s) or content on the template.</p>"
      }
    ],
    "presets": [
      {
        "name": "Description"
      }
    ]
  }
{% endschema %}