<h2>{{ block.settings.heading | camelcase }}</h2>
{% schema %}
  {
    "name": "Heading",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default":"heading"
      }
    ],
    "presets": [
      {
        "name": "Heading"
      }
    ]
  }
{% endschema %}