<div class="utility-bar">
  <div class="page-width">
    {% if section.settings.url != blank %}
      <a href="{{ section.settings.url }}">{{ section.settings.Text }}</a>
    {% else %}
      <p>{{ section.settings.Text }}</p>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "announcement-bar",
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "Text",
      "label": "Text",
      "default":"Welcome Store"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Url"
    }
  ],
  "presets": [
    {
      "name": "announcement-bar",
    }
  ]
}
{% endschema %}
