<div
  class="utility-bar"
>
  <div class="page-width">
    <p>announcement Bar</p>
  </div>
</div>

{% schema %}
{
  "name": "announcement-bar",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "announcement-bar",
    }
  ]
}
{% endschema %}
