

<div
  class="utility-bar"
>
  <div class="page-width">
    <p>announcement Bar</p>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
    }
  ]
}
{% endschema %}
