<div class="featured-collection-product-section section-padding">
  <div class="page-width">
    <h2>{{ section.settings.heading }}</h2>
    <div class="featured-collection-product-row">
      <ul class="card-product-row flex flex-wrap flex--{{ section.settings.product-columns }}-col flex-grow-1 list-unstyled gap">
        {% assign limit = section.settings.product-columns %}
        {% for product in section.settings.collection.products limit:limit %}
          <li class="featured-collection-product-column card-product-column">
            {% render 'card-product' %}
          </li>
        {% else %}
          {%- for i in (1..section.settings.product-columns) -%}
            <li class="featured-collection-product-column card-product-column">
               {% liquid
                  assign ridx = forloop.rindex
                  case ridx
                    when 5
                      assign ridx = 1
                    when 6
                      assign ridx = 2
                  endcase
                %}
                {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
                {% render 'card-product',
                  placeholder_image: placeholder_image
                %}
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Product List",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default":"Featured Product"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "product-columns",
        "label": "Product Card Column",
        "min": 0,
        "max": 6,
        "default":4,
        "step": 1,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection Product"
      }
    ]
  }
{% endschema %}