<div class="featured-product-section">
  <div class="page-width">
    <div class="product-block">
      {% assign product = section.settings.product %}
      <h3>{{ product.title }}</h3>
      <p>{{ product.price | money }}</p>
      <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <div>
      <button type="submit" name="add">Add to cart</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Featured Product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }
    ],
    "presets": [
      {
        "name": "Featured Product"
      }
    ]
  }
{% endschema %}