<div class="header-section">
  <div class="page-width"></div>
</div>
{% schema %}
  {
    "name": "Header",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [],
    "presets": [
      {
        "name": "Header"
      }
    ]
  }
{% endschema %}