<div class="image-section">
  <div class="page-width">
    <div class="image-section-item">
      
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Image Section",
    "settings": [],
    "presets": [
      {
        "name": "Image Section"
      }
    ]
  }
{% endschema %}