<div class="image-banner-section">
  <div class="page-width">
    <div class="image-banner-row">
      <div class="image-block-column"></div>
      <div class="text-block-column">
        <h3></h3>
        {{ block.settings.description }}
        <a class="button{% if block.settings.url != blank %} button-linked{% else %} button-unlinked{% endif %}">button label</a>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Image Banner",
    "settings": [],
    "presets": [
      {
        "name": "Image Banner"
      }
    ]
  }
{% endschema %}