<div class="image-banner-section">
  <div class="page-width">
    <p>Image Banner</p>
  </div>
</div>
{% schema %}
  {
    "name": "Image Banner",
    "settings": [],
    "presets": [
      {
        "name": "Image Banner"
      }
    ]
  }
{% endschema %}