<div class="image-banner-section">
  <div class="page-width">
    <div class="image-banner-row flex align-items-normal gap">
      <div class="image-block-column w-50">
        {% content_for 'block',type: "image", id: "image" %}
      </div>
      <div class="text-block-column w-50">
        {% content_for 'block',type: "heading", id: "heading" %}
        {% content_for 'block',type: "description", id: "description" %}
        {% content_for 'block',type: "button", id: "button" %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Image Banner",
    "settings": [
      {
        "type": "color_background",
        "id": "section-background-color",
        "label": "Section Background Color",
        "default":"none"
      },
      {
        "type": "color_background",
        "id": "container-background-color",
        "label": "Container Background Color",
        "default":"none"
      }
    ],
    "blocks": [{"type": "@theme"},{"type": "image"}],
    "presets": [
      {
        "name": "Image Banner"
      }
    ]
  }
{% endschema %}