/* common css */
.page-width{
  max-width:var(--page-width);
  margin:0 auto;
  padding:0 15px;
}
.position-absolute{
  position:absolute;
}
.position-relative{
  position:relative;
}
.w-100{
  width:100%;
}
.w-50{
  width:50%;
}
.text-left{
  text-align:left;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align:right;
}
.flex{
  display:flex;
}
.justify-content-between{
  justify-content: space-between;
}
.flex-wrap{
  flex-wrap:wrap;
}
/* Announcement Bar css */

/* Announcement Bar css */
/* start product card css */
.flex--4-col li.card-product-column{
  width: calc(25% - var(--product-card-gap) * 3 / 4);
}
/* end product card css */