/* common css */
.page-width{
  max-width:var(--page-width);
  margin:0 auto;
  padding:0 15px;
}
.w-100{
  width:100%;
}
.w-50{
  width:50%;
}
.text-left{
  text-align:left;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align:right;
}
.d-flex{
  display:flex;
}
.justify-content-between{
  justify-content: space-between;
}
.flex-wrap{
  flex-wrap:wrap;
}
/* Announcement Bar css */

/* Announcement Bar css */
/* start product card css */
.grid{
  display:grid;
}
.grid--4-col{
  width:calc((100%/4) - ((var(--product-card-gap))/4*3));
}
/* end product card css */