/* common css */
*{
  box-sizing:border-box;
}
img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.list-unstyled{
  list-style:none;
  padding:0;
  margin:0;
}
.page-width{
  max-width:var(--page-width);
  margin:0 auto;
  padding:0 15px;
}
.position-absolute{
  position:absolute;
}
.position-relative{
  position:relative;
}
.top-0{
  top:0;
}
.left-0{
  left:0;
}
.right-0{
  right:0;
}
.bottom{
  bottom:0;
}
.translate-x-50{
  transform:translateX(-50%);
}
.translate-y-50{
  transform:translateY(-50%);
}
.w-100{
  width:100%;
}
.w-50{
  width:50%;
}
.text-left{
  text-align:left;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align:right;
}
.flex{
  display:flex;
}
.justify-content-between{
  justify-content: space-between;
}
.flex-wrap{
  flex-wrap:wrap;
}
.align-items-center{
  align-items:center;
}
/* Announcement Bar css */

/* Announcement Bar css */
/* start product card css */
.flex--4-col li.card-product-column{
  width: calc(25% - var(--product-card-gap) * 3 / 4);
  flex-grow:1;
}
li.card-product-column .image-block{
  padding-bottom:100%;
  position:relative;
}
li.card-product-column .image-block img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}
/* end product card css */